<form action="/" method="POST">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>ISSUE</th>

        <th>Author</th>
        <th>Description</th>
        <th>Label</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%for(var i=0;i< issues.length; i++) { %>
      <tr>
        <td><%=i+1%></td>
        <td><%=issues[i].issue%></td>

        <td><%=issues[i].author%></td>
        <td><%=issues[i].description%></td>
        <td><%=issues[i].label%></td>
        <td><%=issues[i].status%></td>
        <td>
          <a href="update-issue" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil alt"></i></span>
          </a>
          <a href="#" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
          </a>
        </td>
      </tr>
      <%}%>
    </tbody>
  </table>
</form>
